In [1]:
import os
import configparser
import pandas
from pyspark.sql import SparkSession

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['AWS_SECRET_ACCESS_KEY']

output_data = config['DATALAKE']['OUTPUT_DATA']

In [3]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

In [4]:
songplays_df = spark.read.parquet(os.path.join(output_data, 'songplays/year=*/month=*/*.parquet'))
print('size=', songplays_df.count())
songplays_df.limit(5).toPandas()

size= 4

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent
0,541165879296,2018-11-21,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
1,1254130450432,2018-11-14,10,free,SOGDBUF12A8C140FAA,AR558FS1187FB45658,484,"Washington-Arlington-Alexandria, DC-VA-MD-WV","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
2,163208757248,2018-11-27,80,paid,SOGDBUF12A8C140FAA,AR558FS1187FB45658,992,"Portland-South Portland, ME","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
3,936302870528,2018-11-19,24,paid,SOGDBUF12A8C140FAA,AR558FS1187FB45658,672,"Lake Havasu City-Kingman, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."

In [5]:
song_df = spark.read.parquet(os.path.join(output_data, 'songs/year=2004/artist_id=*/*.parquet'))
print('size=',song_df.count())
song_df.limit(5).toPandas()

size= 4

              song_id                            title   duration
0  SOBBUGU12A8C13E95D  Setting Fire to Sleeping Giants  207.77751
1  SOXILUQ12A58A7C72A                Jenny Take a Ride  207.43791
2  SOXLBJT12A8C140925                Caught In A Dream  290.29832
3  SORRZGD12A6310DBC3                   Harajuku Girls  290.55955